* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $fontFamilyComfortaa;
}

body {
  background-image: url('https://images.unsplash.com/photo-1483382041574-84a17c543ad4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 400px;
  height: 700px;
  background-color: #ffffff20;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0px 0px 25px 3px #00000077;
  border-radius: 15px;
  overflow: hidden;
  justify-content: space-between;
  display: flex;
  flex-direction: column;

  .dialog {
    width: 100%;
    flex: 19;
    overflow-y: auto;

    &-message {
      width: 98%;
      margin: 10px auto;
      border-radius: 15px;
      background-color: $primary;
      display: block;
      overflow-wrap: break-word;
      position: relative;
      padding: 5px 20px 10px 20px;

      &-header {
        margin-bottom: 10px;

        &-date-time {
          font-size:12px;
          color: $date-time-color;
        }

        &-button {
          display: block;
          position: absolute;
          right: 5px;
          top: 5px;
        }
      }

      &-text {
        color: $secondary;
        font-size: 18px;
        margin-bottom: 0;
      }
    }
  }

  .form {
    width: 100%;
    display: flex;
    flex: 1;
    position: relative;

    &_input {
      flex: 15;
      border-top: 0.5px solid $primary;
      background-color: transparent;
      color: $primary;
      padding: 3px 6px;
      outline: none;
    }

    &_button {
      flex: 2;
      background-color: $primary;
      padding: 5px;
      font-size: 25px;

      &.loading {
        .load {
          display: block;
        }

        .send {
          display: none;
        }
      }

      .load {
        display: none;
        animation-name: rotate;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }
}

.emoji_button {
  position: relative;

  &.shown {
    .emoji_container {
      display: block;
    }
  }

  .emoji_container {
    position: absolute;
    right: -20px;
    transform: translateY(-100%);
    display: none;
  }
}

.tooltip {
  opacity: 1;

  &:not(.shown) {
    display: none;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to { 
    transform: rotate(-360deg);
  }
}