@mixin webfont($family, $woffPath, $woff2Path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: local($family), url($woffPath) format('woff'), url($woff2Path) format('woff2');
  }
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica.ttf');
}

@font-face {
  font-family: 'Helvetica Black';
  src: url('/fonts/Helvetica Black.ttf');
}

@font-face {
  font-family: 'Helvetica Light';
  src: url('/fonts/Helvetica Light.ttf');
}

@font-face {
  font-family: 'Helvetica UltraLight';
  src: url('/fonts/Helvetica UltraLight.ttf');
}

@font-face {
  font-family: 'Helvetica NeueCyr';
  src: url('/fonts/HelveticaNeueCyr-Bold.ttf');
}

@include webfont(
  $fontFamilyComfortaa,
  '../fonts/Comfortaa.woff',
  '../fonts/Comfortaa.woff2',
  500
);